@model CoreEcommerceUserPanal.Models.Feedbacks
@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@* <form asp-action="Feedback" asp-controller="Customers">



        <label asp-for="EmailId" class="col-sm-2 col-form-label">Email Id</label>
        <input asp-for="EmailId" type="email" id="email" placeholder="Your Email Id ..">

        <label asp-for="PhoneNo" class="col-sm-2 col-form-label">Phone No</label>
        <input asp-for="PhoneNo" type="number" id="phone" placeholder="Your Phone No ..">


        <label asp-for="Comment" class="col-sm-2 col-form-label">Comment</label>
        <textarea asp-for="Comment" id="comment" placeholder="Write something.." style="height:200px"></textarea>

        <label for="text" class="col-sm-2 col-form-label" asp-for="CustomerId">Customer Id</label>
        <div class="col-sm-10">
            <select class="form-control" asp-for="CustomerId" asp-items="ViewBag.feed"></select>
        </div>  <br />

        <input type="submit" value="Submit">

    </form>*@



@*<!DOCTYPE html>
    <html lang="en">*@
<head>
    <title>Contact V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->*@
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="~/images/img-01.png" alt="IMG">
            </div>

            <form class="contact1-form validate-form" asp-action="Feedback" asp-controller="Customers">
                <span class="contact1-form-title">
                    Get in touch
                </span>

                <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <label asp-for="EmailId">EmailId</label>
                    <input class="input1" asp-for="EmailId" type="email" id="email" placeholder="Email">
                    <span class="shadow-input1"></span>
                </div>


                <div class="wrap-input1 validate-input" data-validate="Phone No is required">
                    <label asp-for="PhoneNo">Phone No</label>
                    <input class="input1" asp-for="PhoneNo" type="number" id="phone" placeholder="Phone">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <label asp-for="Comment">Comment</label>
                    <textarea class="input1" asp-for="Comment" id="comment" placeholder="Message"></textarea>
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Phone No is required">
                    <label asp-for="CustomerId">Customer Id</label>
                    <input class="input1" asp-for="CustomerId" asp-items="ViewBag.feed" placeholder="Customer ID">
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-contact1-form-btn">
                    <button class="contact1-form-btn">
                        <span>
                            Send FeedBack
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>




    <!--===============================================================================================-->
    @*<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@
    @*<!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/tilt/tilt.jquery.min.js"></script>*@
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="~/js/main1.js"></script>

</body>
@*</html>*@