
@{
    ViewData["Title"] = "GoBack";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br /><br /><br /><br /><br /><br />
                              <center>
                                  <h2><i>Cart is Empty</i></h2>
                                  <img src="~/images/emptycart.png" height="350" />
                                  <br /><br />
                                        <a asp-controller="Home" asp-action="Index">
                                            <button type="submit" class="primary-btn">Add to Cart</button>
                                       
                                        </a><br /><br />
                              </center>
