
@{
    ViewData["Title"] = "GoBack";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Cart is Empty</h2>
<a asp-controller="Home" asp-action="Index"><button class="btn btn-success">Add to Cart</button></a>

