
@{
    ViewData["Title"] = "GoBack";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br /><br /><br /><br /><br /><br />
                              <center>
                                  <img src="~/images/emptycart.png" height="350" />
                                  <br /><br />
                                  <a asp-controller="Home" asp-action="Index">
                                      <button class="btn btn-success">Add to Cart</button>
                                  </a>
                              </center>
